* {
    background-color: #ffffff; 
    font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
}

.container-sm {
    margin: 0 auto;
    max-width: 760px;
    box-sizing:border-box;
    padding: 0px 16px;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

.header p {
    margin: 0;
    padding: 0;
}