[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/easy-theme"]
	path = themes/easy-theme
	url = git@github.com:jiangzeyi/hugo-easy-theme.git
